@font-face {
    font-family: 'freestyle';
    src: url('../fonts/freescpt-webfont.woff') format('woff'), url('../fonts/freescpt-webfont.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}