$white:#fff;
$white1:#f2f2f2;
$gray:#555;
$gray1:#777;
$gray2:#888;
$gray3:#999;
$gray4:#d7d7d7;
$violet:#5363db;
$violet1:#5b6ceb;
$violet2:#5363d8;
$bg-filter:$violet;
$main-bg-color:$white;
$theme-bg-color:$violet1;
$text-color:$gray;
$text-color-light:$white;
$text-color-hover:$violet;
$btn-bg:$violet1;
$title-color:$violet1;
$title-color-light:$white;
$card-title:$gray1;
$card-link:$gray3;
$input-bg:$white1;
$placeholder:$gray2;
$subtitle:$gray1;
$underline:$gray4;
$footer-bg:$violet2;
$footer-color:#b7bffc;